:root {
  /* Theme */
  --theme-color: {{ branding.theme_color }};
  --theme-color-dark: {{ branding.theme_color_dark }};

  /* Text */
  --text-color: {{ branding.text_color }};
  --heading-color: {{ branding.heading_color }};
  --expired-heading-color: {{ branding.expired_heading_color }};
  --inactive-color: {{ branding.inactive_color }};

  /* Background */
  --background-color: {{ branding.background_color }};
  --background-muted-color: {{ branding.background_muted_color }};
  --box-background-color: {{ branding.box_background_color }};
  --qr-background-color: {{ branding.qr_background_color }};

  /* Highlight */
  --highlight-color: {{ branding.highlight_color }};
  --gold-color: {{ branding.gold_color }};

  /* Status Colors */
  --success-color: {{ branding.success_color }};
  --error-color: {{ branding.error_color }};
  --warning-color: {{ branding.warning_color }};
  --info-color: {{ branding.info_color }};

  /* Borders & Shadows */
  --border-color: {{ branding.border_color }};
  --border-muted-color: {{ branding.border_muted_color }};
  --shadow-color: {{ branding.shadow_color }};

  /* Buttons */
  --button-text-color: {{ branding.button_text_color }};
  --button-muted-color: {{ branding.button_muted_color }};
  --button-muted-bg: {{ branding.button_muted_bg }};
  --button-muted-hover-bg: {{ branding.button_muted_hover_bg }};
}
